body {
	background: #ffffff url('images/interface/bg.gif');
	font-family: Tahoma;
	color: rgb(119,118,136);
	font-size: 12px;
}
img {
border: none;
font-size: 12px;
vertical-align: bottom;
}
a { text-decoration: none; color: rgb(119,118,136); }
#main {margin: auto; width: 940px; margin-top: 10px;}
.p { text-indent: 15px; }
.right { text-align: right; }
.center { text-align: center; }
.left { text-align: left; }
#welcome {margin:50px; padding:0; height:100%; text-align:center;}


/* header */
#header { width: 904px; height: 180px; background: url('images/interface/banniere.png') no-repeat;
		padding-top: 160px; padding-left: 36px; }

/* pub */
		#pub { width: 728px; height: 95px;  }

/* sorties */
#sorties{ width: 690px;}
#sortie1, #sortie2, #sortie3 { background: rgb(206,229,247); }
#sortie1{ width: 220px;height: 76px; float: left; }
#sortie2{ width: 220px;height: 76px; margin: auto; }
#sortie3{ width: 220px;height: 76px; float: right; }
#sortie1 img, #sortie2 img, #sortie3 img { height: 72px; width: 120px; padding: 2px;}
.info-sorties { float: right; height: 64px; width: 80px; overflow: hidden;
				font-size: 16px; padding: 8px; text-align: center; }
#sortie1:hover, #sortie2:hover, #sortie3:hover { background: rgb(136,183,230); color: rgb(19,35,43); }

/* menus */
#menu-right { width: 187px; height: 100%; float: right; background: url('images/menu/bg-menu.png') repeat-y; }
#menu-left { width: 162px; height: 100%; float: left; background: rgb(206,229,247); }
#menu-left li, #menu-right li{ font-size: 15px; list-style-type : none; }
#menu-right li img, #menu-left li  img{ width: 88px; padding-bottom: 2px; }
#menu-right li img:hover, #menu-left li img:hover { width: 98px; }
#menu-left li:hover, #menu-right li:hover{ list-style-image: url("images/menu/puce.png"); font-size: 22px; }

/* page */
#page { min-height: 520px; }
.article { width: 571px; background: rgb(206,229,247); margin-left: 170px; padding: 2px; padding-bottom: 10px; }
.titre { background: url('images/interface/bg-title.png') no-repeat; width: 557px; height: 24px; text-align: center; padding: 7px;
			font-size: 20px; color: rgb(19,35,43); }
			.titre a { color: rgb(19,35,43); }
			.titre a:hover { color: rgb(119,118,136) }
.titre2 { background: url('images/interface/bg-title2.png') no-repeat; width: 557px; height: 24px; text-align: center;
			padding: 7px; font-size: 15px; color: rgb(119,118,136); font-style: oblique; }
p { text-indent: 15px; padding: 5px; }
#page a { border-bottom: 1px dashed; color: rgb(119,118,136) }
#page a:hover { color: rgb(19,35,43);; }
.dateauteur { text-align: right; font-size: 10px; font-style: oblique; padding-right: 20px; color: rgb(19,35,43); float: right; }
.commentaires { text-align: center; }
h2 { text-align: center; }
h1, h2, h3, h4, h4, h5, h6 { text-indent: 10px; }

/* footer */
#footer { width: 575px; height: 110px; background: rgb(136,183,230); color: rgb(19,35,43); margin-top: 10px; margin-left: 170px; 
		text-align: center;}
#copyright { width: 425px; padding-top: 40px; }
#copyright a { border-bottom: 1px dashed; color: rgb(19,35,43); }
#copyright a:hover  { border-bottom: 1px dashed; color: rgb(119,118,136); }